<h2>All Traditions</h2>
<table class="table table-striped">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Description</th>
		<th>Posted By</th>
		<th>Rating</th>
		<th></th>
		<th></th>
	</tr>
	
<%= render @traditions %>

</table>

<% if can? :create, @tradition %>
<%= link_to "New Tradition", new_tradition_path, class:"btn btn-default"%>
<% end %>

