	<tr>
		<td><%=image_tag rating.rating_number.to_s+"star.png", width:80 %></td>
		<td><%= rating.tradition.name %></td>
		<td><%= rating.user.name %></td>

		<% if can? :destroy, rating %>	
		<td>

			<%= link_to "Delete", rating_path(rating), method: 'delete',data: { confirm: "Are you sure you want to Delete this user"}, class:"btn btn-default" %>
		</td>
		<%end%>
	</tr>