<h2>All Pictures</h2>
<table class="table">
	<tr>
		<th>Picture</th>
	</tr>
	
	<% @pictures.each do |picture| %>
	
	<tr>
		<td><%= image_tag picture.url, width:300 %></td>
		<% if !picture.approved %>
			<td>Awaiting Approval</td>
		<% else%>
			<td>Approved</td>
		<% end %>
		<%= link_to "Delete", picture_path(picture), method: 'delete',  class:"btn btn-default" %><!--read up on UJS -->

	</tr>

	<% end %>

</table>

